/* 기본 스타일 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #d0e7ff; /* 짙은 파스텔 블루 */
    color: #003366;
}

/* 랜딩 페이지 */
#landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('/images/background.jpg') no-repeat center center/cover;
    position: relative;
    color: white;
    text-align: center;
}

#landing::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 50, 0.5);
}

#landing h1, #landing p {
    position: relative;
    z-index: 1;
}

#landing h1 {
    font-size: 4em;
    margin-bottom: 10px;
}

#landing p {
    font-size: 1.5em;
    max-width: 800px;
}

/* 갤러리 섹션 */
#gallery {
    height: 100vh;
    background: #f0f8ff;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.gallery-item {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.gallery-item img, .gallery-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item .overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
}

.gallery-item.active {
    opacity: 1;
}

.location-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background: white; /* 하얀 배경 설정 */
}

#map {
    /* flex: 1; */
    height: 75%;
    width: 50%;
}

.location-info {
    flex: 1;
    padding: 20px;
    background: white; /* 하얀 배경 설정 */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.location-info h3 {
    margin-bottom: 10px;
}

.location-info hr {
    margin-bottom: 10px;
}

/* 반응형 디자인 */
@media (max-width: 1024px) {
    #landing h1 {
        font-size: 3em;
    }
    #landing p {
        font-size: 1.2em;
    }
    .gallery-item .overlay {
        font-size: 1.2em;
    }
}

@media (max-width: 768px) {
    #landing h1 {
        font-size: 2.5em;
    }
    #landing p {
        font-size: 1em;
    }
    .gallery-item .overlay {
        font-size: 1em;
    }

    .location-container {
        flex-direction: column;
        height: auto;
    }
    #map {
        height: 50vh;
        width: 100%;
    }
    .location-info {
        height: auto;
        width: 100%;
        padding: 15px;
        text-align: center;
    }
}
